header {
   display: flex;
   justify-content: center;
   margin: auto; 

}

.phone {
   display: flex;
   text-align: right;
   position: relative;
   left: 500px;
   color:blue;
   font-weight: 600;
}

.address {
   display: flex;
   text-align: left;
   position:relative;
   right: 500px;
   color: blue;
   font-weight: 600;
}

.container {
   height: 200px;
   display: flex;
   align-items: center;
   justify-content: center;
}
  
.logo {
   width: 600px;
   margin: 50px;
   padding: 50px;
  }

.container-left {
   display:flexbox;
   align-items: left;
   max-width: 400px;
   float: left;
   position: relative;
   bottom: 750px;
}

.oem-logo {
   max-width: 300px;
}

body {
   background-color: lightgray;
   font-family: 'Roboto', sans-serif;
}

.headings {
   max-width: 600px;
   position: relative;
   left: 450px;
}

.heading, .sub-heading {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 50px;
}

.under-construction {
   color: red;
   padding: 50px;
   text-align: center;
}

.nav {
   align-self: flex-end;
    
}

.button {
   align-items: right;
   display: flex;
   flex-direction: column;
   position: relative;
   left: 800px;
   margin: 50px;
   bottom: 800px;
   width: 200px;
   height: 50px;
   text-align: center;
   background-color: blue;
   color: white;
   border-radius: 10%;
   
}