header {
   display: flex;
   justify-content: center;
   margin: 50px 100px 50px 100px; 
}

.phone {
   display: flex;
   text-align: right;
   position: relative;
   left: 300px;
   color:blue;
   font-weight: 600;
}

.info-email {
   display: flex;
   font-style: italic;
   color: blue;
   position: relative;
   text-align: center;
 }

.address {
   display: flex;
   text-align: center;
   position:relative;
   right: 300px;
   color: blue;
   font-weight: 600;
   
}

.container {
   height: 200px;
   display: flex;
   align-items: center;
   justify-content: center;
}
  
.logo {
   width: 600px;
   margin: 50px;
   padding: 50px;
  }

.container-left {
   display:flexbox;
   align-items: left;
   max-width: 400px;
   float: left;
   position: relative;
   bottom: 750px;
}

.oem-logo {
   max-width: 300px;
}

body {
   background-color: lightgray;
   font-family: 'Roboto', sans-serif;
}

.headings {
   max-width: 600px;
   position: relative;
   left: 450px;
}

.heading, .sub-heading {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 50px;
}

.nav {
   align-self: flex-end;
    
}

.button-home {
   align-items: right;
   display: flex;
   flex-direction: column;
   position: relative;
   left: 700px;
   margin: 50px;
   bottom: 800px;
   width: 200px;
   height: 50px;
   text-align: center;
   background-color: blue;
   color: white;
   border-radius: 20%;
   
}

form {
   /* Center the form on the page */
   margin: 0 auto;
   width: 400px;
   /* Form outline */
   padding: 1em;
   border: 1px solid #ccc;
   border-radius: 5px;
 }
 
 ul {
   list-style: none;
   padding: 0;
   margin: 0;
 }
 
 form li + li {
   margin-top: 1em;
 }
 
 label {
   /* Uniform size & alignment */
   display: inline-block;
   width: 90px;
   text-align: right;
 }
 
 input,
 textarea {
   /* To make sure that all text fields have the same font settings
      By default, textareas have a monospace font */
   font: 1em sans-serif;
 
   /* Uniform text field size */
   width: 300px;
   box-sizing: border-box;
 
   /* Match form field borders */
   border: 1px solid #999;
 }
 
 input:focus,
 textarea:focus {
   /* Additional highlight for focused elements */
   border-color: #000;
 }
 
 textarea {
   /* Align multiline text fields with their labels */
   vertical-align: top;
 
   /* Provide space to type some text */
   height: 5em;
 }
 
 .button {
   /* Align buttons with the text fields */
   padding-left: 90px; /* same size as the label elements */
 }
 
 button {
   /* This extra margin represent roughly the same space as the space
      between the labels and their text fields */
   margin-left: 0.5em;
 }

 .equip-banner {
   display: block;
   text-align: center;
   margin: 50 200 50 200;
   position: relative;
 }

 #num {
   font-style: italic;
   color: orangered;
   font-weight: 600;
 }

 .email {
   font-style: italic;
   color: orangered;
 }

 .em650-img {
   width: 200px;
   height: auto;
   display: inline-flexbox;
 }

 .em650-list {
   margin: 50px 100px 200px 100px;
 }

 #price {
   color: green;
   font-weight: bolder;
 }
 
 a :hover {
   background-color: lightgreen;
 }

.post-container {
   margin-top: 100px;
   display: flex;
   max-width: 800px;
   justify-content: right;
   margin: auto;
   
}

