header {
   display: flex;
   justify-content: center;
   margin: auto; 

}

.phone {
   display: flex;
   text-align: right;
   position: relative;
   left: 500px;
}

.address {
   display: flex;
   text-align: left;
   position:relative;
   right: 500px;
}

.container {
   height: 200px;
   display: flex;
   align-items: center;
   justify-content: center;
}
  
.logo {
   width: 600px;
   margin: 50px;
   padding: 50px;
  }

.container-left {
   display:flexbox
   align-items: left;
   max-width: 400px;
   float: left;
   position: relative;
   bottom: 450px;
}

.oem-logo {
   max-width: 300px;
}

body {
   background-color: lightgray;
   font-family: 'Roboto', sans-serif;
}

.heading, .sub-heading {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 50px;
}